
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font -->
    <link href="./sign_up_files/css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/Content/nouislider.min.css">
    <link rel="stylesheet" href="~/Content/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/plyr.css">
    <link rel="stylesheet" href="~/Content/photoswipe.css">
    <link rel="stylesheet" href="~/Content/default-skin.css">
    <link rel="stylesheet" href="~/Content/main.css">
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="https://dmitryvolkov.me/demo/flixgo2.0/main/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="https://dmitryvolkov.me/demo/flixgo2.0/main/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://dmitryvolkov.me/demo/flixgo2.0/main/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://dmitryvolkov.me/demo/flixgo2.0/main/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://dmitryvolkov.me/demo/flixgo2.0/main/icon/apple-touch-icon-144x144.png">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>FlixGo – Online Movies, TV Shows &amp; Cinema HTML Template</title>
    <script type="text/javascript">
        function CheckPassWordLength() {

            var password = document.getElementById("pass11").value;


            if (password.length < 6)
                alert("Your Password is Too Small");

            var inputtext = document.getElementById("email11").value;
            var inputtext1 = document.getElementById("name11").value;

            if (inputtext == "" || inputtext1 == "") {
                alert("PLEASE FILL ALL BOXES");

            }


        }
    </script>
</head>
<body class="body" data-gr-c-s-loaded="true">
    <div class="sign section--bg" data-bg="img/section/section.jpg" style="background: url(&quot;img/section/section.jpg&quot;) center center / cover no-repeat;">
        <h1 style="background-color:hotpink"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ELECTRO SIGN IN </h1>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <!-- authorization form -->
                        <form action="../../Home/Sign_In" class="sign__form" method="get">
                            <a href="https://dmitryvolkov.me/demo/flixgo2.0/main/index.html" class="sign__logo">
                                <img src="./sign_up_files/logo.svg" alt="">
                            </a>
                            <div class="sign__group">
                                <input type="text" class="sign__input" placeholder="Email" name="email">
                            </div>
                            <div class="sign__group">
                                <input type="password" class="sign__input" placeholder="Password"name="Password">
                            </div>
                            <div class="sign__group sign__group--checkbox">
                                <input id="remember" name="remember" type="checkbox" checked="checked">
                                <label for="remember">Remember Me</label>
                            </div>


                            <button id="submit" runat="server" text="submit" class="btn btn-primary btn-sm" onclick="CheckPassWordLength()">
                                Submit
                            </button>
                            <span class="sign__text">Don't have an account? <a href="https://dmitryvolkov.me/demo/flixgo2.0/main/signup.html">Sign up!</a></span>
                            <span class="sign__text"><a href="https://dmitryvolkov.me/demo/flixgo2.0/main/forgot.html">Forgot password?</a></span>
                        </form>
                        <!-- end authorization form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JS -->
    <script src="~/Contentjquery-3.3.1.min.js"></script>
    <script src="~/Content/bootstrap.bundle.min.js"></script>
    <script src="~/Content/owl.carousel.min.js"></script>
    <script src="~/Content/jquery.mousewheel.min.js"></script>
    <script src="~/Content/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/Content/wNumb.js"></script>
    <script src="~/Content/nouislider.min.js"></script>
    <script src="~/Content/plyr.min.js"></script>
    <script src="~/Content/jquery.morelines.min.js"></script>
    <script src="~/Content/photoswipe.min.js"></script>
    <script src="~/Content/photoswipe-ui-default.min.js"></script>
    <script src="~/Content/main.js"></script>
</body>
</html>