
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/Content/Data/bootstrap.min.css" />


    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/Content/Data/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Data/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/Content/Data/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link href="~/Content/Data/font-awesome.min.css" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Content/Data/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    @{
        ViewBag.Title = "Accessories";
    }
</head>
<body>
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +92-300-0000000</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> electro.official@gmail.com</a></li>

                </ul>
                <ul class="header-links ">
                    <!--<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>-->
                    <!--<li  style=" text-align:right; font-size:200%"><a href="#"><i class="fa fa-user-o"></i> My Account </a></li> -->
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <img src="~/Content/Data/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form>
                                <style>
                                    * {
                                        box-sizing: border-box;
                                    }

                                    #myInput {
                                        background-image: url('..//Content/Data/searchicon.png');
                                        background-position: 10px 12px;
                                        background-repeat: no-repeat;
                                        width: 100%;
                                        font-size: 16px;
                                        padding: 12px 20px 12px 40px;
                                        border: 1px solid #ddd;
                                        margin-bottom: 12px;
                                    }

                                    #myUL {
                                        list-style-type: none;
                                        padding: 0;
                                        margin: 0;
                                    }

                                        #myUL li a {
                                            border: 1px solid #ddd;
                                            margin-top: -1px; /* Prevent double borders */
                                            background-color: #f6f6f6;
                                            padding: 12px;
                                            text-decoration: none;
                                            font-size: 18px;
                                            color: black;
                                            display: block
                                        }

                                            #myUL li a:hover:not(.header) {
                                                background-color: #eee;
                                            }
                                </style>
                                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for categories.." title="Type in a category">

                                <ul>
                                    <li><a href="../Home/Laptops">Laptops</a></li>
                                    <li><a href="../Home/Cameras">Cameras</a></li>

                                    <li><a href="../Home/Accessories">Accessories</a></li>
                                    <li><a href="../Home/smartphones">Smartphones</a></li>

                                </ul>

                            </form>
                            <script>
                                function myFunction() {
                                    var input, filter, ul, li, a, i, txtValue;
                                    input = document.getElementById("myInput");
                                    filter = input.value.toUpperCase();
                                    ul = document.getElementById("myUL");
                                    li = ul.getElementsByTagName("li");
                                    for (i = 0; i < li.length; i++) {
                                        a = li[i].getElementsByTagName("a")[0];
                                        txtValue = a.textContent || a.innerText;
                                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                            li[i].style.display = "";
                                        } else {
                                            li[i].style.display = "none";
                                        }
                                    }
                                }
                            </script>

                            </form>
                        </div>
                    </div>


                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT
                            <div class="col-md-3 clearfix">
                                <div class="header-ctn">
                                    <!-- Wishlist
                        <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>Your Wishlist</span>
                               <div class="qty">2</div>
                            </a>
                        </div>
                    -->
                    <style>
                        .dropbtn {
                            background-color: #000000;
                            color: white;
                            padding: 16px;
                            font-size: 16px;
                            border: none;
                            cursor: pointer;
                        }

                        .dropdown {
                            position: relative;
                            display: inline-block;
                        }

                        .dropdown-content {
                            display: none;
                            position: absolute;
                            background-color: #f9f9f9;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;
                        }

                            .dropdown-content a {
                                color: black;
                                padding: 12px 16px;
                                text-decoration: none;
                                display: block;
                            }

                                .dropdown-content a:hover {
                                    background-color: #ff006e
                                }

                        .dropdown:hover .dropdown-content {
                            display: block;
                        }

                        .dropdown:hover .dropbtn {
                            background-color: #ff006e;
                        }
                    </style>

                    <div class="dropdown">
                        <button class="dropbtn">My Account</button>
                        <div class="dropdown-content">
                            <a href="#">My Cart</a>
                            <a href="#">My Orders</a>
                            <a href="#">My Reviews</a>
                        </div>
                    </div>

                    <!-- /Wishlist -->
                    <!-- Car
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-shopping-cart"></i>
                            <span>My Account</span>
                            <!-- <div class="qty">3</div>
                        </a>
                        <div class="cart-dropdown">
                            <div class="cart-list">
                                <div class="product-widget">
                                    <div class="product-img">
                                        <img src="~/Content/Data/product01.png" alt="">
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name"><a href="#">Lenovo IdeaPad V3.0</a></h3>
                                        <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                    </div>
                                    <button class="delete"><i class="fa fa-close"></i></button>
                                </div>

                                <div class="product-widget">
                                    <div class="product-img">
                                        <img src="~/Content/Data/product02.png" alt="">
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name"><a href="#">Headphones </a></h3>
                                        <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                    </div>
                                    <button class="delete"><i class="fa fa-close"></i></button>
                                </div>
                            </div>
                            <div class="cart-summary">
                                <small>3 Item(s) selected</small>
                                <h5>SUBTOTAL: $2940.00</h5>
                            </div>
                            <div class="cart-btns">
                                <a href="#">View Cart</a>
                                <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div> -->
                    <!-- /Cart -->
                    <!-- Menu Toogle -->
                    <!-- <div class="menu-toggle">
                         <a href="#">
                             <i class="fa fa-bars"></i>
                             <span>Menu</span>
                         </a>
                     </div>
                      /Menu Toogle -->
                    <!---</div>
                        </div>
                        /ACCOUNT
                    </div>
                    row -->
                </div>
                <!-- container -->
            </div>
            <!-- /MAIN HEADER -->
        </div>
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li ><a href="/Home/Main">Home</a></li>
                    <li><a href="../Home/HotDeals">Hot Deals</a></li>
                    <li><a href="../Home/Laptops">Laptops</a></li>
                    <li><a href="../Home/Smartphones">Smartphones</a></li>
                    <li><a href="../Home/Cameras">Cameras</a></li>
                    <li class="active"><a href="../Home/Accessories">Accessories</a></li>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>


    <h2>Accessories</h2>
    <!-- /product -->
    <!-- product -->
    <div class="product">
        <div class="product-img">
            <img src="~/Content/Data/product05.png" alt="">
        </div>
        <div class="product-body">
            <p class="product-category">Category</p>
            <h3 class="product-name"><a href="#">Sony Over-Ear Headphones</a></h3>
            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
        </div>
        <div class="add-to-cart">
            <a href=" ../../Home/Product6" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</a>
        </div>
    </div>
    <!-- /product -->
    <!-- product -->
    <!-- /product -->
    <!-- product -->
    <div class="product">
        <div class="product-img">
            <img src="~/Content/Data/product02.png" alt="">
            <div class="product-label">
                <span class="new">NEW</span>
            </div>
        </div>
        <div class="product-body">
            <p class="product-category">Category</p>
            <h3 class="product-name"><a href="#">Audio-Technica HeadPhones </a></h3>
            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
        </div>
        <div class="add-to-cart">

            <a href="../../Home/Product1" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</a>
        </div>
    </div>
    <!-- /product -->
    <!-- product -->
    <div class="product">
        <div class="product-img">
            <img src="~/Content/Data/product04.png" alt="">
            <div class="product-label">
                <span class="sale">-30%</span>
                <span class="new">NEW</span>
            </div>
        </div>
        <div class="product-body">
            <p class="product-category">Category</p>
            <h3 class="product-name"><a href="#">XperiaZ4 </a></h3>
            <h4 class="product-price">$950.00 <del class="product-old-price">$990.00</del></h4>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
        </div>
        <div class="add-to-cart">
            <a href="../../Home/Product4" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</a>
        </div>
    </div>
    <!-- /product -->
    <div class="product">
        <div class="product-img">
            <img src="~/Content/Data/product09.png" alt="">
        </div>
        <div class="product-body">
            <p class="product-category">Category</p>
            <h3 class="product-name"><a href="#"></a>REKAM DIGITAL CAMERA</h3>
            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
        </div>
        <div class="add-to-cart">
            <a href=" ../../Home/Product10" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</a>
        </div>
    </div>
    <!-- /product -->
    <!-- product -->

</body>
</html>
